<!DOCTYPE html>
<html>
  <head>
    <title>Triage Chat Application</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <div id="messageContainer" style="display: none"></div>
    <div id="modal-overlay">
      <div id="modal-login">
        <div style="margin: 10px">Sign Into Your Account</div>
        <form id="login-form">
          <div>
            <input
              class="input-field"
              type="text"
              id="username"
              placeholder="Username"
              required
            />
          </div>
          <div>
            <input
              class="input-field"
              type="password"
              id="password"
              placeholder="Password"
              required
            />
          </div>
          <div>
            <button
              type="button"
              id="signup-button"
              class="login-button"
              onmouseover="this.style.background='linear-gradient(90deg, #45A049, #7CB342)'"
              onmouseout="this.style.background='linear-gradient(90deg, #4CAF50, #8BC34A)'"
            >
              Sign Up
            </button>
            <button
              type="submit"
              class="login-button"
              onmouseover="this.style.background='linear-gradient(90deg, #45A049, #7CB342)'"
              onmouseout="this.style.background='linear-gradient(90deg, #4CAF50, #8BC34A)'"
            >
              Login
            </button>
          </div>
        </form>
        <form id="signup-form" style="display: none">
          <div>
            <input
              class="input-field"
              type="text"
              id="signUpUsername"
              placeholder="Username"
              required
            />
          </div>
          <div>
            <input
              class="input-field"
              type="password"
              id="signUpPassword"
              placeholder="Password"
              required
            />
          </div>
          <div>
            <button
              type="submit"
              class="login-button"
              onmouseover="this.style.background='linear-gradient(90deg, #45A049, #7CB342)'"
              onmouseout="this.style.background='linear-gradient(90deg, #4CAF50, #8BC34A)'"
            >
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>

    <div>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div id="banner">
          <div class="icon" style="background-color: green"></div>
          <div class="icon" style="background-color: orange"></div>
          <div class="icon" style="background-color: maroon"></div>
        </div>
        <div id="banner-tools">
          <div id="signed-in-info">Signed in as</div>
          <div id="username-info">USERNAME</div>
          <button type="button" id="log-out-btn">Log out</button>
        </div>
      </div>
      <div id="box">
        <div id="friend-list">
          <div class="add-friend-box">
            <input id="friend-input" placeholder="Add user" />
            <i id="add-friend-button" class="fa-solid fa-plus"></i>
          </div>
          <ul
            id="friends"
            style="list-style-type: none; padding: 1px; overflow-y: auto"
          ></ul>
        </div>
        <div id="chat-box">
          <div id="chat-history"></div>
          <input id="msg-input" />
        </div>
      </div>
      <footer class="footer">
        &#169;2025. Made by Ally Kim. All rights reserved.
        <a href="https://github.com/CIS5550/fa24-cis5050-T21"
          >Check out my code!</a
        >
      </footer>
    </div>
    <script>
      let username = null;
      let currentFriend = null;
      let chatHistories = {};
      let friends = [];
      let chatOffset = {}; // friend: total number of chat stored
      let displayedOffset = {}; // friend: number of chat displayed
      let ws = null;

      const modalOverlay = document.getElementById("modal-overlay");
      const loginForm = document.getElementById("login-form");
      const signUpForm = document.getElementById("signup-form");
      const msgInput = document.getElementById("msg-input");
      const chatHistory = document.getElementById("chat-history");
      const friendsList = document.getElementById("friends");
      const addFriendBtn = document.getElementById("add-friend-button");
      const signUpBtn = document.getElementById("signup-button");
      const friendInput = document.getElementById("friend-input");
      const logOutBtn = document.getElementById("log-out-btn");
      const usernameInfo = document.getElementById("username-info");

      // EVENT HANDLERS ////////////////////////////////////////
      // check if should route to login or chat page
      window.onload = () => {
        const savedUsername = getUserFromCookie();
        console.log("On load user name is " + savedUsername);
        if (savedUsername != null && savedUsername != "null") {
          loadChatInterface();
        } else {
          modalOverlay.style.display = "flex";
        }
      };

      signUpBtn.addEventListener("click", (event) => {
        event.preventDefault();
        loginForm.style.display = "none";
        signUpForm.style.display = "block";
      });

      signUpForm.addEventListener("submit", (event) => {
        event.preventDefault();
        const newUsername = document.getElementById("signUpUsername").value;
        const newPassword = document.getElementById("signUpPassword").value;
        fetch("/signup", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ newUsername, newPassword }),
        })
          .then((response) => {
            if (!response.status.ok) {
              return response.text().then((errorMsg) => {
                showError(errorMsg.message || "Sign up failed.");
              });
            }
            return response.text();
          })
          .then((data) => {
            // redirect to the login page
            showSuccess("Sign up successful.");
            loginForm.style.display = "block";
            signUpForm.style.display = "none";
          })
          .catch((error) => {
            showError("Sign up failed. Error: ", error);
          });
      });

      loginForm.addEventListener("submit", (event) => {
        event.preventDefault();
        const providedUsername = document.getElementById("username").value;
        const providedPassword = document.getElementById("password").value;

        if (providedUsername && providedPassword) {
          fetch("/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ providedUsername, providedPassword }),
          })
            .then((response) => {
              return response.text().then((responseMsg) => {
                if (!response.ok) {
                  throw new Error(responseMsg);
                }
                return responseMsg;
              });
            })
            .then((data) => {
              saveUserToCookie(providedUsername);
              loadChatInterface();
            })
            .catch((error) => {
              showError("Login failed: ", error);
            });
        }
      });

      logOutBtn.addEventListener("click", (event) => {
        username = null;
        currentFriend = null;
        chatHistories = {};
        friends = [];
        chatOffset = {};
        displayedOffset = {};
        document.cookie = `username=null; path=/`;
        ws.close();
        window.location.reload();
      });

      msgInput.addEventListener("keydown", (event) => {
        if (currentFriend === null) {
          return;
        }

        if (event.key === "Enter") {
          let messageToSend = msgInput.value.trim();
          if (!messageToSend) return;
          chatHistories[currentFriend].push({
            sender: username,
            message: messageToSend,
          });
          console.log(
            "Added message to chat history for friend: " + currentFriend
          );
          chatOffset[currentFriend] += 1;
          // <SENDER RECIPIENT MESSAGE>
          messageToSend = username + " " + currentFriend + " " + messageToSend;
          renderMessage(messageToSend);
          msgInput.value = "";
          ws.send(messageToSend);
        }
      });

      friendInput.addEventListener("keydown", (event) => {
        if (event.key === "Enter") {
          let friendName = friendInput.value.trim();
          friendInput.value = "";
          handleAddFriend(friendName, true);
          currentFriend = friendName;
          renderChatHistory(currentFriend);
        }
      });

      addFriendBtn.addEventListener("click", () => {
        let friendName = friendInput.value.trim();
        friendInput.value = "";
        handleAddFriend(friendName, true);
        currentFriend = friendName;
        renderChatHistory(currentFriend);
      });

      // FUNCTIONS /////////////////////////////////////////////
      async function loadChatInterface() {
        username = getUserFromCookie();
        usernameInfo.textContent = username;
        ws = new WebSocket("ws://127.0.0.1:8081");

        ws.onopen = () => {
          console.log("WebSocket connection established.");
        };

        ws.onerror = (error) => {
          console.error("WebSocket error:", error);
        };

        ws.onclose = () => {
          console.log("WebSocket connection closed.");
        };

        ws.onmessage = (event) => {
          // <SENDER RECIPIENT MESSAGE>
          const incomingMessageDiv = document.createElement("div");
          const [sender, recipient, ...messageParts] = event.data.split(" ");
          const message = messageParts.join(" ");

          if (!friends.includes(sender)) {
            // if message from a new friend
            console.log("Received message from new friend ", sender);
            handleAddFriend(sender, true);
            chatHistories[sender] = [{ sender, message }];
            chatOffset[sender] = 1;
          } else {
            console.log("Received message from existing friend ", sender);
            // message from existing friend
            if (!chatHistories[sender]) {
              chatHistories[sender] = [];
            }
            chatHistories[sender].push({ sender, message });
            chatOffset[sender] += 1;
            if (currentFriend === sender) {
              renderMessage(event.data);
            } else {
              const friendLi = document.querySelector(
                `li[data-name="${sender}"]`
              );
            }
          }
        };

        await getFriendList();
        renderFriendList();
        if (friends.length > 0 && currentFriend === null) {
          currentFriend = friends[0];
          await getChatHistory(currentFriend);
          renderChatHistory(currentFriend);
          renderFriendList();
        }
        // fetch rest of friends chat history
        friends
          .filter((friend) => friend != currentFriend)
          .forEach((friend) => {
            getChatHistory(friend);
          });
        modalOverlay.style.display = "none";
        signUpForm.style.display = "none";
      }

      // <SENDER RECIPIENT MESSAGE>
      function renderMessage(newMessage) {
        const [sender, recipient, ...messageParts] = newMessage.split(" ");
        const message = messageParts.join(" ");
        // create new message div
        const nameDiv = document.createElement("div");
        nameDiv.className = "sender-div";
        nameDiv.textContent = sender === username ? "You" : sender;
        nameDiv.style.alignSelf =
          sender === username ? "flex-end" : "flex-start";
        const div = document.createElement("div");
        div.className = "message";
        div.style.alignSelf = sender === username ? "flex-end" : "flex-start";
        if (sender === username) {
          div.style.backgroundColor = "gray";
        }
        div.textContent = message;
        chatHistory.appendChild(nameDiv);
        chatHistory.appendChild(div);
        displayedOffset[currentFriend] += 1;
        // scroll to the bottom
        chatHistory.scrollTop = chatHistory.scrollHeight;
      }

      function getChatHistory(friend) {
        console.log("Fetching chat history for friend: ", friend);
        return fetch(`/messages/${username}/${friend}`)
          .then((response) => {
            if (!response.ok) {
              throw new Error(
                `HTTP error with fetching chat history: ${response.status}`
              );
            }
            return response.text();
          })
          .then((data) => {
            if (data === "") {
              console.log("No chat history to display for friend ", friend);
            } else {
              console.log("Received chat history for " + friend + ": ", data);
              const lines = data
                .split("\n")
                .filter((line) => line.trim() !== "")
                .map((line) => {
                  const [sender, recipient, ...messageParts] = line.split(" ");
                  const message = messageParts.join(" ");
                  return { sender, message };
                });
              chatHistories[friend] = lines;
              chatOffset[friend] += lines.length;
            }
            return null;
          })
          .catch((error) => {
            console.error(`Error fetching chat history for ${friend}:`, error);
          });
      }

      function renderChatHistory(friend) {
        console.log("Rendering chat history for friend: ", friend);
        chatHistory.innerHTML = "";
        if (!chatHistories[friend] || chatHistories[friend].length == 0) {
          console.log("No message to render for friend: ", friend);
          return;
        }
        chatHistories[friend].forEach(({ sender, message }) => {
          console.log("Rendering message: " + message);
          const nameDiv = document.createElement("div");
          nameDiv.className = "sender-div";
          nameDiv.textContent = sender === username ? "You" : sender;
          nameDiv.style.alignSelf =
            sender === username ? "flex-end" : "flex-start";
          const div = document.createElement("div");
          div.className = "message";
          div.style.alignSelf = sender === username ? "flex-end" : "flex-start";
          if (sender === username) {
            div.style.backgroundColor = "gray";
          }
          div.textContent = message;
          chatHistory.appendChild(nameDiv);
          chatHistory.appendChild(div);
          displayedOffset[friend] += 1;
        });
        // scroll down to the bottom
        chatHistory.scrollTop = chatHistory.scrollHeight;
      }

      function handleAddFriend(friendName, addToDatabase) {
        if (!friendName || friends.includes(friendName)) return;
        // initialize data structures
        friends.push(friendName);
        chatHistories[friendName] = [];
        chatOffset[friendName] = 0;
        displayedOffset[friendName] = 0;
        // add to database
        if (addToDatabase) {
          addFriendToDatabase(friendName);
        }
        renderFriendList();
      }

      function addFriendToDatabase(friendName) {
        fetch("/friends", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username, friendName }),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Error with backend");
            }
            return response.text();
          })
          .then((data) => {
            console.log("Sucessfully added friend: ", data);
          })
          .catch((error) => {
            console.log("Error with adding friend: ", error);
          });
      }

      async function getFriendList() {
        console.log("Getting friend list");
        return fetch("/friends/" + username)
          .then((response) => {
            return response.text();
          })
          .then((data) => {
            if (data == "") {
              console.log("No friends stored in database");
            } else {
              console.log("Received friends:", data);
              friends = [];
              friends = data.split("\n").filter((friend) => friend != "");
              console.log("Friends list: ", friends);
              friends.forEach((friend) => handleAddFriend(friend, false));
            }
          });
      }

      function renderFriendList() {
        console.log("Rendering friend list");
        if (friends.length == 0) return;
        friendsList.innerHTML = "";
        friends.forEach((friend) => {
          const li = document.createElement("li");
          li.className = "friend";
          li.dataset.name = friend;
          li.style.backgroundColor =
            friend === currentFriend ? "lightgray" : "gray";
          li.innerHTML = `<div style="margin-bottom: 2px">${friend}</div>`;

          li.addEventListener("click", () => {
            currentFriend = friend;
            renderFriendList();
            renderChatHistory(friend);

            const allFriends = document.querySelectorAll(".friend");
            allFriends.forEach((friendLi) => {
              friendLi.style.backgroundColor =
                friendLi.dataset.name === currentFriend ? "lightgray" : "gray";
            });
          });
          friendsList.appendChild(li);
        });
        friendsList.scrollTop = chatHistory.scrollHeight;
      }

      // OTHER HELPER FUNCTIONS ///////////////////////////////
      function getUserFromCookie() {
        const match = document.cookie.match(/username=([^;]+)/);
        return match ? decodeURIComponent(match[1]) : null;
      }

      function saveUserToCookie(name) {
        console.log("Saving user to cookie: " + name);
        document.cookie = `username=${encodeURIComponent(name)}; path=/`;
      }

      function showError(message, ...additionalMessages) {
        const messageContainer = document.getElementById("messageContainer");
        const fullMessage = [message, ...additionalMessages].join(" ");
        messageContainer.style.display = "block";
        messageContainer.textContent = fullMessage;
        messageContainer.style.color = "maroon";
        setTimeout(() => {
          messageContainer.style.display = "none";
        }, 5000);
      }

      function showSuccess(message) {
        const messageContainer = document.getElementById("messageContainer");
        messageContainer.style.display = "block";
        messageContainer.textContent = message;
        messageContainer.style.color = "green";
        setTimeout(() => {
          messageContainer.style.display = "none";
        }, 5000);
      }
    </script>
  </body>
</html>
